[submodule "intro/themes/hugo-coder"]
	path = intro/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/lynx"]
	path = themes/lynx
	url = git@github.com:jpanther/lynx.git
