/* ボタンの配色 */

.link-zenn {
  background: #3ea8ff;
}

.link-qiita {
  background: #55c500;
}

.link-hackermeshi {
  background: #feae1e;
}

.link-note {
  color: #000;
  background: #fff;
}

/* 全体のCSS */

body {
  background-color: #faebd7; /* antiquewhite */
}

.text-xl {
  color: #66a;
}
