/* ボタンの配色 */

.link-zenn {
  background: #3ea8ff;
}

.link-qiita {
  background: #55c500;
}

.link-hackermeshi {
  background: #feae1e;
}

.link-note {
  color: #000;
  background: #fff;
}

/* 以下背景色の変更など */

.dark\:bg-neutral-800 {
  background-color: #191970;
}

.bg-neutral-800 {
  background-color: #191970;
}

.text-neutral-400 {
  color: #fff;
}

.text-neutral-500 {
  color: #fff;
}

.text-neutral-800 {
  color: #fff;
}

.text-neutral-900 {
  color: #fff;
}
